:root{
	--button-border-radius: 15px;
}

*{
	list-style: none;
	text-decoration: none;
}

html{
	--bg: white;
	--color-text: black;

}
html[data-theme='dark']{
	--bg:#131419;
	--color-text: #fff;
}

body{
	margin:0;
	background-color: var(--bg);
	color: var(--color-text);
}

ul{padding-left: 0;}

/* ~-----------------------------------------------~ */

header{

}

.img1 {
	padding: 20px;
	padding-right: 0px;
	width: 150px;
	height: 150px;
}

.img2 {
	margin: 30px;
	width: 400px;
	height: 90px;
}



.search-box {
	position: absolute;
	right: 0;
	transform: translate(0, -73%);
	border-radius: 20px 20px 0 0;
	padding: 10px;
	height: 40px;
	background: #2f3640;
}

.search-box::before,
.search-box::after{
	content:"";
	position: absolute;
	left: -20px;
	bottom: 0px;
	border: 0 solid #2f3640;
	border-width: 0 20px 20px 0;
}
.search-box::after{
	border-color: var(--bg);
	border-bottom-right-radius: 20px;
}

.search-btn {
	display: flex;
	justify-content: center;
	float: right;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: transparent;
	color: #e84118;
	align-items: center;
}
.search-box:hover > .search-btn{
	background: white;
}

.search-txt {
	border: none;
	padding: 0;
	width: 0;
	background: none;
	outline: none;
	float: left;
	color: white;
	font-size: 16px;
	transition: .4s;
	line-height: 40px;

}
.search-box:hover > .search-txt{
	padding: 0 6px;
	width: 240px;
}



.dropdowns {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	position: sticky;
	top: 0;
	margin-bottom: 0;
	border-radius: var(--button-border-radius);
	border-top-right-radius: 0;
	background: mediumblue;
	z-index: 2;
}

.dropdown{
	position: relative;
	width: 20%;
}

.dropbtn {
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: var(--button-border-radius) var(--button-border-radius) 0 0;
	padding: 20px;
	width:100%;
	background: transparent;
	color: white;
	font-size: 18px;
	cursor: pointer;
	font-family: serif;
	text-align: center
}
.dropdown:first-child .dropbtn{
	border-bottom-left-radius: var(--button-border-radius);
}
.dropdown:last-child .dropbtn{
	border-top-right-radius: 0;
}
.dropbtn:only-child{
	border-radius: var(--button-border-radius);
}
.dropdown:hover .dropbtn {
	background-color: blue;
}

.dropdown-content {
	position: absolute;
	overflow: hidden;
	border-radius: 0 0 var(--button-border-radius) var(--button-border-radius);
	min-width: 100%;
	max-height: 0;
	background-color: lightgray;
	transition-duration: .3s;
}
.dropdowns .dropdown:first-child .dropdown-content{
	border-top-left-radius: var(--button-border-radius);
}
.dropdowns .dropdown:last-child .dropdown-content{
	border-top-right-radius: var(--button-border-radius);
}
.dropdown:hover .dropdown-content{
	max-height:600px;
}

.dropdown-content a{
	display: block;
	position: relative;
	padding: 12px 8px;
	color: black;
	text-align: center;
	text-decoration: none;
	transition-duration: .3s;
}

.dropdown-content a::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 6px;
	height: 100%;
	background: mediumblue;
	transition-duration: .3s;
	opacity: 0;
}
.dropdown-content a:hover::before {
	opacity: 1;
}


/* ~-----------------------------------------------~ */

main{

}

.swiper-container {
	position: relative;
	width: 100%;
	height: 450px;
	color: black;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	height: auto;
	/*background: #fff;*/
	background: var(--bg);
	color: var(--color-text);

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	width: 100%;
}

.swiper-pagination-bullet{
	background-color: var(--color-text);
}



.nav2 ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 200px;
}

.nav2 li {
	width: 20%;
}

.nav2 a {
	display: block;
	color: var(--color-text);;
	text-align: center;
	cursor: pointer;
}

.nav2 img {
	display: block;
	margin: 0 auto;
	width: 50%;
	transition-duration: .5s;
}


.nav2 a:hover img{
	width: 60%;
}

.div {
	margin: 30px;
	height: 250px;
	/*background-color: antiquewhite;*/
	border: 2px solid antiquewhite;
	color: var(--color-text);
}
/* ~-----------------------------------------------~ */

#calendar_container{
	height: auto;
}

.calendar_table{
	border: 1px solid black;
	border-collapse: collapse;
	margin: 30px;
	max-height: 100px;
}

#title_time , .title_time{
	height: 50px;
	border: 1px solid blue;
}
#container_time{
	overflow: auto;
	
}
.calendar_inner{
	vertical-align: top;
	border-collapse: collapse;
	border: 2px solid rgb(128, 255, 0);
	height: auto;
}


.calendar_entry{
	height: auto;
}






/* ~-----------------------------------------------~ */

footer {
	background-color: mediumblue;
	height: 220px;

}

#foot_text {
	padding: 30px;
	color: white;
	font-family: serif;
	line-height: 30px;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: center;
}

.footertext {
	color: black;
	font-size: 20px;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.swiper-button-next,
	.swiper-button-prev{
		display: none;
	}
}
@media screen and (max-width: 585px) {
	.hideWhenSmall{
		display: none;
	}
}