:root{ /* variabili */
	
}

*{
	list-style: none;
	text-decoration: none;
}

body{
	margin:0;
}

/* ~-----------------------------------------------~ */

#header{
	
}

/* ~-----------------------------------------------~ */

#main{
	
}

/* ~-----------------------------------------------~ */

#footer{
	
	background-color:  #878787;
	height: 250px;

}

#foot_text{
	color: aliceblue;
	font-family: "SF Pro Display";
	line-height: 37px;
	size: 20px;
	letter-spacing: 4px;

	text-align: center;
	padding: 25px;
	
	
	
}
