:root{
	--button-border-radius: 15px;
}

*{
	list-style: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif ;
}

html{
	--bg: rgb(247, 247, 247);
	--color-text: black;
	--msg-color: rgb(240, 240, 240);
	
}
html[data-theme='dark']{
	--bg:#131419;
	--color-text: #fff;
	--msg-color: darkblue;
}
}

body{
	margin:0;
	background-color: var(--bg);
	color: var(--color-text);
}
#megacontainer{
	/*in caso volessimo centrare la pagina*/
}
ul{padding-left: 0;}


/* ~-----------------------------------------------~ */

header{

}

header>a {
	display: contents;
}

.img1 {
	margin: 10px 0 10px 10px;
	width: 150px;
	height: 150px;
}

.img2 {
	margin: 30px;
	width: 400px;
	height: 90px;
}



.search-box {
	position: absolute;
	right: 0;
	transform: translateY(-100%);
	border-radius: 20px 20px 0 0;
	padding: 10px;
	height: 40px;
	background: #2f3640;
}

.search-box::before,
.search-box::after{
	content:"";
	position: absolute;
	left: -20px;
	bottom: 0;
	border: 0 solid #2f3640;
	border-width: 0 20px 20px 0;
}
.search-box::after{
	border-color: var(--bg);
	border-bottom-right-radius: 20px;
}

.search-btn {
	display: flex;
	justify-content: center;
	float: right;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: transparent;
	color: #e84118;
	align-items: center;
}
.search-box:hover > .search-btn{
	background: white;
}

.search-txt {
	border: none;
	padding: 0;
	width: 0;
	background: none;
	outline: none;
	float: left;
	color: white;
	font-size: 16px;
	transition: .4s;
	line-height: 40px;

}
.search-box:hover > .search-txt{
	padding: 0 6px;
	width: 240px;
}

.dropdowns {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin: 0;
	border-radius: var(--button-border-radius);
	border-top-right-radius: 0;
	background: mediumblue;
}

.dropdown{
	position: relative;
	width: 20%;
}

.dropbtn {
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: var(--button-border-radius) var(--button-border-radius) 0 0;
	padding: 20px;
	width:100%;
	background: transparent;
	color: white;
	font-size: 18px;
	cursor: pointer;
	font-family: serif;
	text-align: center
}
.dropdown:first-child .dropbtn{
	border-bottom-left-radius: var(--button-border-radius);
}
.dropdown:last-child .dropbtn{
	border-top-right-radius: 0;
}
.dropbtn:only-child{
	border-radius: var(--button-border-radius);
}
.dropdown:hover .dropbtn {
	background-color: blue;
}

.dropdown-content {
	position: absolute;
	overflow: hidden;
	border-radius: 0 0 var(--button-border-radius) var(--button-border-radius);
	min-width: 100%;
	max-height: 0;
	background-color: lightgray;
	box-shadow: 0 0 10px gray;
	transition-duration: .3s;
	z-index: 2;
}
.dropdowns .dropdown:first-child .dropdown-content{
	border-top-left-radius: var(--button-border-radius);
}
.dropdowns .dropdown:last-child .dropdown-content{
	border-top-right-radius: var(--button-border-radius);
}
.dropdown:hover .dropdown-content{
	max-height: 600px;
}

.dropdown-content a{
	display: block;
	position: relative;
	padding: 12px 8px;
	color: black;
	text-align: center;
	text-decoration: none;
	transition-duration: .3s;
}

.dropdown-content a::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 6px;
	height: 100%;
	background: mediumblue;
	transition-duration: .3s;
	opacity: 0;
}
.dropdown-content a:hover::before {
	opacity: 1;
}


/* ~-----------------------------------------------~ */

main{

}

.swiper-container {
	position: relative;
	width: 100%;
	/*height: 450px;*/
	color: black;
	/*//z-index: -1;*/
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	height: auto;
	/*background: #fff;*/
	background: var(--bg);
	color: var(--color-text);

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
					justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
					align-items: center;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
}

.swiper-pagination-bullet{
	background-color: var(--color-text);
}



.nav2 ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 200px;
}

.nav2 li {
	width: 20%;
}

.nav2 a {
	display: block;
	color: var(--color-text);
	text-align: center;
	cursor: pointer;
}

.nav2 img {
	display: block;
	margin: 0 auto;
	width: 50%;
	transition-duration: .5s;
}


.nav2 a:hover img{
	width: 60%;
}

.div {
	margin: 30px;
	height: 250px;
	/*background-color: antiquewhite;*/
	border: 2px solid antiquewhite;
	color: var(--color-text);
}




/* ~-----------------------------------------------~ */
/* <✅> */
#calendar_container {
	text-align: left;
	padding-top: 30px;
	background: lightgrey;
	/*border: 2px solid black;
	margin: 20px;
	border-radius: 0px 15px 15px 0px;*/
	
}

#calendar_top{
	height:70px ;
}


.calendar_title{
	float: left;
	position: inherit;
	border: 3px solid black;
	margin: auto;
	font-size: 30px;
}

.calendar_search_container{
	margin:20px;
	position: inherit;
}
#calendar_container button {
	width: 30px;
	height: 30px;
	float: right;
	
}

#calendar_container input[type="text"]{
	z-index: 2;
	position: relative;
	float: right;
	width: 33%;
	height:30px;
	margin:auto;



}



#calendar_container>span#calendar_filter_counter {
	
}

.calendar_wrapper {
	height: 450px;					/*❌*/
	white-space: nowrap;		/*❌*/
	overflow: scroll hidden;/*❌*/
	color: black; 
}

/* questo non serve, lo puoi togliere, è per farti capire come funziona la night-mode: 
		definisci una variabile in html{} per la versione light e in html[data-theme="dark"] per la versione dark,
		poi utilizzi quelal variabile in questo modo.
		se vuoi che un colore non cambi tra le modalità fai semplicemente {color: ...}
	*/

.calendar_wrapper>ul {
	overflow-y: scroll;		/*❌*/
	white-space: initial; /*❌*/
	display: inline-block;/*❌*/
	border-radius:15px;
	width: 33%;
	height: 100%;
	margin:0px;
	margin-left: 10px;
	background: mediumblue;
	font-size: 14px;
	
}

.calendar_wrapper>ul:{
	
}



.calendar_wrapper>ul:last-child {
	margin-right: 0;
	
}
.calendar_wrapper>ul:empty {
	/*display: none;*/
	padding: 0 10px;
	width: fit-content;
	overflow: hidden;
	
}

.calendar_wrapper>ul::-webkit-scrollbar {
	width: 0px;
}

.calendar_wrapper::-webkit-scrollbar-track {
		background: #f1f1f1;
}

.calendar_wrapper::-webkit-scrollbar-thumb {
	background: #888;
}



.calendar_wrapper>ul::before,

.calendar_wrapper hour {
	content: attr(data-hour);/*❌*/
	position: sticky;		 /*❌*/
	z-index: 3;				
	font-size: 30px;
	color: rgb(255, 255, 255);
	padding-left: 2%;
}

.calendar_wrapper li {
	border-top: 2px solid black;	/*✅,∃*/
	padding: 10px;/*✅,∃*/
	text-align: left;
	background: rgb(255, 255, 255);

}

.calendar_wrapper li.active>span {
	font-weight: bold;
	
}


/* ~-----------------------------------------------~ */

footer {
	background-color: mediumblue
}

#foot_text {
	padding: 30px;
	color: white;
	font-family: serif;
	line-height: 30px;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: center;
	font-style: normal;
	word-wrap: normal;
}

#foot_text span:not(.footer_bar) {
	display: inline-block;
}

vertical_bar {
	color: black;
	font-size: 20px;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.swiper-button-next,
	.swiper-button-prev{
		display: none;
	}
}
@media screen and (max-width: 585px) {
	.hideWhenSmall{
		display: none;
	}
}
/*

@font-face{
	font-family: Costum fonts;
	src: local();

	/*per personalizzare il font*/
}
*/