:root{ /* variabili */
	
}

*{
	list-style: none;
	text-decoration: none;
}

html{
	--bg: white;
	--color-text: black;
	
}
html[data-theme='dark']{
	--bg:#131419;
	--color-text: #fff;
}

body{
	margin:0;
	background-color: var(--bg);
	color: var(--color-text);
}

ul{padding-left: 0;}

/* ~-----------------------------------------------~ */

header{
	
}

.img1 {
	width: 150px;
	height: 150px;
	padding: 20px;
	padding-right: 0px
}

.img2 {
	width: 400px;
	height: 90px;
	margin: 30px
}

.search-box {
	position: absolute;
	right: 0;
	transform: translate(0, -50%);
	background: #2f3640;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}

.search-btn {
	color: #e84118;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-box:hover > .search-btn{
	background: white;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: .4s;
	line-height: 40px;
	width: 0;
	
}
.search-box:hover > .search-txt{
	width: 240px;
	padding: 0 6px;
}



.dropdowns {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: sticky;
	top: 0;
	margin-bottom: 0;
	z-index: 2;
}

.dropdown{
	position: relative;
	width:20%;
}

.dropbtn {
	background-color: mediumblue;
	color: white;
	padding: 20px 0;
	width:100%;
	font-size: 18px;
	border: none;
	cursor: pointer;
	font-family: serif;
	text-align: center
}

.dropdown:hover .dropbtn {
	background-color: blue;
}

.dropdown-content {
	position: absolute;
	background-color: lightgray;
	min-width: 100%;
	max-height: 0;
	overflow: hidden;
	transition-duration: .3s;
}

.dropdown:hover .dropdown-content{
	max-height:500px;
}

.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	position: relative;
}


.dropdown-content a::before{
	content:"";
	position: absolute;
	width: 6px;
	height:100%;
	background: mediumblue;
	left: 0;
	top: 0;
	transition-duration: .3s;
	opacity: 0;
}
.dropdown-content a:hover::before {
	opacity: 1;
}


/* ~-----------------------------------------------~ */

main{
	
}

.swiper-container {
	position: relative;
	width: 100%;
	height: 450px;
	color: black;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	height: auto;
	/*background: #fff;*/
	background: var(--bg);
	color: var(--color-text);

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.img3 {
	width: 100%;
}

.nav2 ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 200px;
}

.nav2 li {
	width: 20%;
}

.nav2 a {
	display: block;
	color: var(--color-text);;
	text-align: center;
	cursor: pointer;
}

.nav2 img {
	display: block;
	margin: 0 auto;
	width: 50%;
	transition-duration: .5s;
}


.nav2 a:hover img{
	width: 60%;
}

.div {
	margin: 30px;
	height: 200px;
	/*background-color: antiquewhite;*/
	border: 2px solid antiquewhite;
	color: var(--color-text);
}

/* ~-----------------------------------------------~ */

footer {
	background-color: mediumblue;
	height: 220px;

}

#foot_text {
	color: white;
	font-family: serif;
	line-height: 30px;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: center;
	padding: 30px;
}

.footertext {
	color: black;
	font-size: 20px;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.swiper-button-next,
	.swiper-button-prev{
		display: none;
	}
}
@media screen and (max-width: 585px) {
	.hideWhenSmall{
		display: none;
	}
}